@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    height: 400vh;
}
.ff-op{
    font-family: 'Open Sans', sans-serif;
}
/* NAVBAR - INDEX */
    /* width: auto;
    justify-content: space-between; */
.w-10{
    width: 10%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
}
.w-45{
    width: 45%;
}
.w-95{
    width: 95%;
}
.h-100px{
    height: 100px;
}
.w-60{
    width: 60%;
}
.w-15{
    width: 15%;
}
.start-25{
    left: 23%!important;
}
.dropdown-item:hover{
    color: #CBAC6B!important;
}
.color-gold{
    color: #CBAC6B;
}
.gold{
    background: #CBAC6B;
}
.navbar{
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    font-size: 26px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.carousel-h{
    height: 985px!important;
}
.fs-card{
    font-size: 14px;
}

.nav-link{
    text-transform: uppercase;
}
nav ul {
    display: flex;
    padding-left: 0!important;
}
nav ul li{
    list-style: none;
}

.navbar-nav .nav-item:hover {
    background-color: rgb(199, 163, 95);
}
.navbar-nav .nav-item {
    transition: background-color 0.4s ease; 
}
.mobile{
    padding-top: 5px;
    height: 40px;
}
.bandeauFr{
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    background: #cbac6b;
    width: 35px;
    text-align: center;
    text-decoration: underline;
    right: 2%;
}
/* SLIDER */
.carousel-indicators [data-bs-target]{
    border: solid 2px white;
    border-radius: 100% ;
    height: 15px;
    width: 15px;
    background: none;
}
.carousel-indicators .active{
    background: white!important;
}
/* BOUTTON SLIDER + D'INFOS */
.btn-slider {
    font-weight: 1em;
    letter-spacing: 0.20em;
    background: none;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-slider:hover{
    background-color:rgb(199, 163, 95); 
}
.bottom-40{
    bottom: 40%;
}
/* ------------coach----------- */
.custom-bg-1{
    background-image: url(/assets/img/gallery/activites/bg_activite_1.jpg);
    background-size: cover;
    background-position: center;
}
.custom-bg-2{
    background-image: url(/assets/img/gallery/activites/bg_activite_2.jpg);
    background-size: cover;
    background-position: center;
}
.custom-bg-3{
    background-image: url(/assets/img/gallery/activites/bg_activite_3.jpg);
    background-size: cover;
    background-position: center;
}
.custom-bg-4{
    background-image: url(/assets/img/gallery/activites/bg_activite_4.jpg);
    background-size: cover;
    background-position: center;
}

.custom-bg-1, .custom-bg-2, .custom-bg-3, .custom-bg-4{
    height: 460px;
}
    
.grid-img{
    width: 30px;
    height: 3px;
    margin-top: 10px;
    transition: width 0.5s ease;
}
    
.grid-a:hover + .grid-img{
    width: 200px;
}
    
.icon-size{
    height: 100px;
}

/* CARD */
.card-link::after{
    content: "";
    border-bottom: solid 3px black;
    position: absolute;
    width: 20%;
    bottom: -7px;
    left: 0;
    transition: width 0.3s;
}
.card-link:hover::after{
    width: 100%;
}
/* ------------------Présentation----------------------- */
.présentation{
    background: center url("/assets/img/visuel/visuel_3.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
}

/* X-Small devices (portrait phones, less than 1281px) */
@media screen and (max-width: 1200px){
  
   
/* BOUTTON SLIDER + D'INFOS */
.btn-slider {
    font-weight: 1em;
    letter-spacing: 0.20em;
    background: none;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-slider:hover{
    background-color:rgb(199, 163, 95); 
}
/* PARAGRAPHE SLIDER */
/* LOGO STUDIO */

}

@media screen and (min-width: 992px){

.logo-site{
    width: 150px;
}
.fontSize{
    font-size: 20px;
}
.navbar-nav{
    width: 95%;
}
.w-95{
    width: 100%;
}

    /* BOUTTON SLIDER + D'INFOS */
.btn-slider {
    font-weight: 1em;
    letter-spacing: 0.20em;
    background: none;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-slider:hover{
    background-color:rgb(199, 163, 95); 
}
/* PARAGRAPHE SLIDER */
.pslider {
    text-align: center;
    font-weight: 100em;
    font-size: 1em;
    color: white;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
}
@media screen and (min-width: 1400px){
    .navbar-nav{
        width: 60%!important;
    }
    .w-95{
        width: 95%;
    }
    
   
}
@media screen and (max-width: 576px) { 
  /* BOUTTON SLIDER + D'INFOS */
.btn-slider {
    height: 5px;
    width: 20%;
    padding-bottom: 3%;
    font-size: 45%;
    background: none;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* PARAGRAPHE SLIDER */
.pslider {
    text-align: center;
    font-size: 0.60em;
    color: white;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
/* APPARENCE LOGO */
.logo-site {
    width: 60px;
    height: 25px;
}

/* APPARENCE BURGER QUAND RESPONSIVE */
nav ul li {
    font-size: 8px;
}
  
} 

/* CONTACT */
.presentation-contact{
    background: center url("/assets/img/visuel/header-contact.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
}

.myMap {
    filter: grayscale(100%) invert(85%);
}

.franche:hover{
    display: block!important;
    opacity: 1;
}
.franche {
    opacity: 0;
}
.franche-container:hover img{
    opacity: 0.6;
}
.franche-container:hover .franche{
    opacity: 1;
}

/* 404 ERROR */



